@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

You can find here all the README.md about the project.

<SurveyPrompt Title="How BlazorMarkDownApp has been built from scratch?" />
