@page "/about"
@using BlazorMarkDownAppJwt.Client.Components

<PageTitle>About</PageTitle>

<h1>About</h1>

You can find here all the README.md about the project.
<MarkDownComponent IsLoadingReadMe=true></MarkDownComponent>
