@page "/"
@using BlazorMarkDownAppJwt.Client.Components
@using BlazorMarkDownAppJwt.Shared
@inject HttpClient HttpClient
@inject IJSRuntime jsr

<PageTitle>Home</PageTitle>

<h1>MarkDown List</h1>

<p>Please choose one the markdown to view.</p>
<SurveyPrompt Title="How BlazorMarkDownApp has been built from scratch?" />

@if (isLoading)
{
	<div class="spinner"></div>
}
else {
	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var markDown in markDowns)
				{
					<tr>
						<td>MarkDown @markDown.Id</td>
						<td><a href="/markdowndetail/@markDown.Id">View in Editor</a></td>
					</tr>
				}
			</tbody>
		</table>
}

@code {
	private bool isLoading = false;
	private List<MarkDownModel> markDowns = new List<MarkDownModel>();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		isLoading = true;
		try
		{
			var urlRoute = "/api/markdowns/";
			var requestMsg = new HttpRequestMessage(HttpMethod.Get, urlRoute);
			var response = await HttpClient.SendAsync(requestMsg);
			if (response.IsSuccessStatusCode)
			{
				var content = await response.Content.ReadFromJsonAsync<List<MarkDownModel>>();
				if (content != null)
				{
					markDowns = content;
				}
			}
		}
		catch (Exception)
		{
			markDowns = new List<MarkDownModel>();
		}
		finally
		{
			isLoading = false;
		}
	}
}
