@page "/"
@using BlazorMarkDownAppJwt.Client.Components

<PageTitle>MarkDown Main Page</PageTitle>

<h1>MarkDown Editor</h1>

<p>Let's use incredible MarkDownEditor App!.</p>

<SurveyPrompt Title="How BlazorMarkDownApp has been built from scratch?" />
<UserComponent></UserComponent>
<MarkDown></MarkDown>
