@page "/"
@using BlazorMarkDownAppJwt.Client.Components

<PageTitle>MarkDown Main Page</PageTitle>

<h1>MarkDown Editor</h1>

<p>Let's use incredible MarkDownEditor App!.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
<UserComponent></UserComponent>
<MarkDown></MarkDown>
