<div class="alert alert-secondary mt-4">
	<span class="oi oi-pencil me-2" aria-hidden="true"></span>
	<strong>@Title</strong>

	<span class="text-nowrap">
		You can have a look of the
		<a target="_blank" class="font-weight-bold link-dark" href="/about">ReadMe.md</a>
	</span>
	and tell us what you think.
</div>
