<p>
	@if (string.IsNullOrEmpty(UserMail))
	{
		<span><a href="/login">Login</a>   <a href="/register">Register</a></span>
	}
	else
	{
		<span>Hello, @UserMail <a href="/logout">(Logout)</a></span>
	}
</p>

@code {

	[Parameter]
	public string? UserMail { get; set; }
}